{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>About Us</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{%static 'images/computerclass.jpg'%}" class="img-fluid w-100 rounded" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="about-content">
                    <h3 class="font-weight-bold">Introduction</h3>
                    <p>Maroon is all about you - Our aim is to empower every person in the country to independently connect with
			buyers and sellers online. Maroon is widely known as India’s no. 1 online
			classifieds platform - and there’s a reason behind that. We care about you - and the transactions that bring
			you closer to your dreams. Want to buy your first car? We’re here for you. Want to sell commercial property
			to buy a home for your family? We’re here for you. Whatever job you’ve got, we promise to get it done</p>
      <br>
                    <h3 class="font-weight-bold">Ushering in the new age of Maroon</h3>
      <br>
     <p>We are proud to be India’s leading platform to sell, buy, rent or find something. Our goal is to help our
			community of buyers and sellers address their needs in the simplest and fastest way. We do this by listening
			to our community, fostering innovation and keeping the platform simple. The awards and recognition we
			receive is thanks to the effort and success achieved by millions of individuals and small businesses across
			India.</p>

                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}