

{% extends "base.html" %}

{% block content %}
<section class="page-title">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-9 offset-md-2 text-center">
                    <!-- Title text -->
                    <h3 style="color:  #ffc107;"> Class Title :  {{classroom.title}} </h3>
                    <br>
                    <h3>My Classes </h3>
                    <h5>Click here to return back to class</h5>
                    <br>
                    <a class="nav-link text-white add-button" href="{% url 'teacher:assignment:create' classroom.id  %}"><i class="fa fa-folder"></i>My Classes</a>
                </div>
            </div>
        </div>
    </section>
 <section class="ad-post bg-gray py-5">
    <div class="container">
            <form class="signup-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Add Assignment</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Title:</h6>
                             {{form.title}}
                            <h6 class="font-weight-bold pt-4 pb-1">Instruction:</h6>
                             {{form.instructions}}
                        </div>
                        <div class="col-lg-6">
                                <h6 class="font-weight-bold pt-4 pb-1">Due Date:</h6>
                                {{form.due_date}}

                                <h6 class="font-weight-bold pt-4 pb-1">Upload Files:</h6>
                                {{form.assign_file}}
                                 
                   
                        </div>
                    </div>
            </fieldset>

            <button type="submit" class="btn btn-primary d-block mt-2 " name = "submitname">Post Assignment</button>

        </form>
    </div>
</section> 
<script>
document.querySelector('#id_image').onchange = function(e) {
        document.getElementById('d_block').innerHTML = "Image is uploaded seccessfully..."
    };
 </script>


{% endblock content %}