{% autoescape off %}
Hi {{ request.user.username }},

Please click on the link to confirm your registration,http://{{ domain }}{% url 'customuser:activate' uidb64=uid token=token %}
Maroon Classroom is a free web service, developed by Maroon for schools, that aims to simplify creating, distributing, and grading assignments in a paperless way. The primary purpose of Maroon Classroom is to streamline the process of sharing files between teachers and students.


Regards:
Team MAROON
{% endautoescape %}