{% extends 'base.html' %}

{% load staticfiles%}
{% block content %}

<div class="page-info-section set-bg" data-setbg="{%static 'images/page-bg/1.jpg'%}">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="">Home</a>
            <span>Teacher Window</span>
        </div>
    </div>
</div>
<br>
<br>
{% for message in messages %}

<div class="alert alert-danger">
    <a class="close" href="#" data-dismiss="alert">×</a>

    {{ message }}

</div>
{% endfor %}
<section class="signup-section spad">
    <div class="signup-bg set-bg" data-setbg="{% static 'images/signup-bg.jpg'%}"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp">
                    <div class="section-title text-white text-left">
                        <h2>Add Assignments</h2>
                        <p>Here you can Add Assignments and display as homework</p>
                    </div>
                </div>
                <!-- signup form -->
                <form class="signup-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{form.title}}
                    {{form.instructions}}
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <span>{{ form.due_date }}</span>
                        <span class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </span>
                    </span>
                    <div class="upload-btn-wrapper">
                        <button class="btn">Upload a file</button>
                        {{form.assign_file}}</div>
                    <br>

                    <button class="site-btn" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'DD-MM-YYYY HH:mm:ss',
        });
    });
</script>

{% endblock content %}