{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Confirmation!!</title>

    <link href="{%static 'css/reset.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">

</head>

<body>


{% for message in messages %}
{% if message.level is DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
            {%else%}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
        {%endif%}
    
    {% endfor %}


            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="widget change-password">
                    <h3 class="widget-header user">Password Recovery</h3>
                    <form  method = 'POST'>{% csrf_token %}
                        <!-- Current Password -->
                        <!-- New Password -->
                        <div class="form-group">
                            <label for="new-password">New Password</label>
                            {{form.new_password}}
                        </div>
                        <!-- Confirm New Password -->
                        <div class="form-group">
                            <label for="confirm-password">Confirm New Password</label>
                            {{form.confirm_password}}
                        </div>
                        <!-- Submit Button -->
                        <button class="btn btn-transparent" name='form2_submit' type='submit'>Submit</button>
                    </form>
                </div>
            </div>


</body>

</html>
