
	{% extends "base.html" %}
	{% load static %}
	{% block content %}
    {% for message in messages %}
    {% if message.level is DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
    
                    {{ message }} 
    
                </div>
                {%else%}
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>
    
                    {{ message }} 
    
                </div>
            {%endif%}
        
        {% endfor %}
	        
    <section class="page-title">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-9 offset-md-2 text-center">
                    <!-- Title text -->
                    <h3>Edit Classroom </h3>
                    <h5>Click here to view your existing classes</h5>
                    <br>
                    <br>
                    <a class="nav-link text-white add-button" href="{% url 'teacher:homepage' %}"><i ></i>My Classe</a>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    <section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 align-item-center">
                    <div class="border border">
                        <h3 class="bg-gray p-4">Edit Classroom</h3>
                        <form method = "POST" enctype="multipart/form-data" name = "signupform">{% csrf_token %}
                            <fieldset class="p-4">
                            {{form.title}}
                            {{form.subject}}
                            {{form.section}}
                           
                                <button type="submit" name="signupsubmit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Create Now</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	{% endblock content %}