

{% extends "base.html" %}
{% load static %}
{% block content %}
	

<section class="blog single-blog section">
	<div class="container">
		<div class="row">
            <center>
			<div class="col-md-8 offset-md-1 col-lg-9 offset-lg-0">
				<article class="single-post">
					<h3>Developed and Maintained </h3>
					<ul class="list-inline">
						<li class="list-inline-item">by</li>
						<h3>Piyush and Mahendra</h3>
					</ul>
					<img src="{% static 'images/coder.png'%}" alt="article-01">
					<p>Maroon Classroom is a free web service, developed by us for School and Colleges, that aims to simplify creating, distributing, and grading assignments in a paperless way. The primary purpose of Maroon Classroom is to streamline the process of sharing files between teachers and students.</p> 
					
					<p>Maroon believes that open source is good for everyone. By being open and freely available, it enables and encourages collaboration and the development of technology, solving real world problems.Click here to become a contributer </p>
                    <ul class="social-circle-icons list-inline">
                            <li class="list-inline-item text-center" ><a class="fa fa-github" href="https://github.com/piyushbhutani1999/classroom" target="_blank" style="color:black;" alt="github"></a></li>
                        </ul>
					
					<ul class="social-circle-icons list-inline">
				  		<li class="list-inline-item text-center"><a class="fa fa-facebook" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-twitter" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-google-plus" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-pinterest-p" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-linkedin" href=""></a></li>
				  	</ul>
                </article>
                
				<div class="block comment">
					<h4>Leave A Comment</h4>
                    <form method="POST">{% csrf_token %}
                            <fieldset class="p-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 py-2">
                                            {{form.name}}
                                        </div>
                                        <div class="col-lg-6 pt-2">
                                           {{form.email}}
                                        </div>
                                    </div>
                                </div>
                               {{form.message}}
                                <div class="btn-grounp">
                                    <button type="submit" class="btn btn-transparent">Leave Comment</button>
                                </div>
                            </fieldset>
                        </form>
				</div>
            </div>

        </center>
            

        </div>
        
	</div>
</section>


{% endblock content %}
