{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="page-title">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2 text-center">
                <!-- Title text -->
                <h3>Forget Password</h3>
                <br>
                <h5>A password recovery link will be send to registered email address</h5>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>


{% for message in messages %}
{% if message.level is DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
            {%else%}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
        {%endif%}
    
    {% endfor %}
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Forget Password</h3>
                    <form method = "POST">{% csrf_token %}
                        <fieldset class="p-4">
                            {{form.email}}
                            <button type="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Submit</button>                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}