<html>
    
    <body>
        <a  href="{%url 'customuser:login'%}">Login</a>
        <a  href="{%url 'customuser:signup'%}">Signup</a>

        {% if user.is_authenticated %}
            <p>user is authenticated</p>
            <a  href="{%url 'customuser:logout'%}">logout</a>
                    
        <p>{{user.rollno}}</p>
        <p>{{user.email}}</p>
        <p>{{user.is_teacher}}</p>
            {% if user.is_authenticated %}
            <p>lund</p>
                <a href="{%url 'teacher : create_classroom' %}">create class</a>
            {% endif %}
        {% endif %}

    </body>
</html>