<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>index page</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <p><input type="submit" value="Save" /></p>
    </form>
    
</body>

</html>
<script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "2019:2023",
        // You can put more options here.
  
      });
    });
    </script>