{% extends "base.html" %}

{%load static%}

{% block content %}

{% for message in messages %}
{% if message.level is DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
            {%else%}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
        {%endif%}
    
    {% endfor %}

<div class="page-info-section set-bg" data-setbg="{%static 'images/page-bg/5.jpg'%}">
    <div class="container">
            <div class="site-breadcrumb">
            </div>
        </div>
<section class="contact-page spad pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-warp">
                        <div class="section-title text-white text-left">
                            <h2>Student Registration</h2>
                            <p>Hola Students!! Register yourself to take unstopable benifit on maroon classroom</p>
                        </div>
                        <form class="contact-form" method="POST">{% csrf_token %}
                            {{form.name}}
                            {{form.rollno}}
                            {{form.year}}
                            {{form.branch}}
                            <button class="site-btn" type = "submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}