{% extends "base.html" %}
{%load static%}
{% block content %}

<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-9 offset-md-2 text-center">
				<!-- Title text -->
				<h3 style="color:  #ffc107;">{{assignment.title}}  </h3>

				<br>
				<a class="nav-link text-white add-button" href="{% url 'student:classroom_detail' assignment.classroom.slug %}"><i class="fa fa-folder"></i>Go to Classroom</a>
                <span> <a class="nav-link text-white add-button" href="{% url 'customuser:homepage' %}"><i class="fa fa-home"></i>HOME</a></span>
            </div>
		</div>
	</div>
</section>
{% for message in messages %}
{% if message.level is DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
            {%else%}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }} 

            </div>
        {%endif%}
    
    {% endfor %}

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
							<!-- User Image -->
							<div class="profile-thumb">
							  <img src="{%static 'images/assignment.jpg'%}" alt="" class="rounded-circle">
							</div>
							<!-- User Name -->
							<h5 class="text-center"  style = "text-transform: uppercase;"> {{assignment.title}}</h5>
							<p>Due Date : {{assignment.due_date}}</p>
							<p >Class: {{assignment.classroom.title}}</p>
							<br>
							<a href="{% url 'student:classroom_detail' assignment.classroom.slug %}" class="btn btn-main-sm">Go to Classroom</a>
						  </div>
					<!-- Dashboard Links -->
                    <div class="widget user-dashboard-menu">
                            <ul>  
				
									<li >
						
                    <a href="{% url 'student:assignment:detail' assignment.classroom.slug assignment.slug %}"><i class="fa fa-folder"></i>View Assignment </a></li>
                    <li  class="active" >
						
                        <a href="{% url 'student:assignment:solution_create_view' assignment.classroom.slug assignment.slug %}" ><i class="fa fa-check"></i>Submit Solutions</a></li>

                    </ul>
          </div>
				</div>
                <!-- delete account popup modal end-->
			</div>

            
            
            <section class="ad-post bg-gray py-5">
                        {%if not solution%}
                        <form method="POST"  enctype="multipart/form-data" name = "formname">{% csrf_token %}
                            <!-- Post Your ad start -->
                            <fieldset class="border border-gary p-5 mb-5">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><h2 style="color:#597bf9;">Submit your Solutions</h2></center>
                                        </div>
                                        <div class="col-lg-6">
                                                <h6 class="font-weight-bold pt-4 pb-1">Upload files :</h6>
                                             <div class="upload-btn-wrapper">
                                                    <button class="assignbtn">Upload a file</button>
                                                    {{form.solution_file}}
                                                  </div>
                                                  <h6 class="font-weight-bold pt-4 pb-1">Comments:</h6>
                                                  {{form.comment}}
                                        </div>
                                    </div>
                 
                <br>
                            <button type="submit" class="btn btn-primary d-block mt-2 " name = "submitname">Submit</button>
                        </fieldset>
                        </form>
                    {%else%}
                    <center><h2 style="color:#597bf9;">Successfully Submitted</h2></center>
                        <br>
                        {% for files in solution_files %}
                    
                        <span><a class="nav-link text-white add-button" href="{{files.file.url}}" target="_blank" ><i class="fa fa-download"></i>{{files.filename}} </a></span><br><br>
                        {% endfor %}
                        {%endif%}
                </section> 

					
				</div>


               
        </div>
    </div>
	</div>
</div>
</section>

{% endblock content %}