
{% extends "base.html" %}


{% load static %}

{% block content %}
	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="{%static 'images/page-bg/1.jpg'%}">
		<div class="container">
			<div class="site-breadcrumb">
				<a href="">Home</a>
				<span>Teacher Window</span>
			</div>
		</div>
    </div>
  
	<section class="course-section spad pb-0">
		<div class="course-warp">
			<ul class="course-filter controls">
                <li class="control active" data-filter="all">My Classes</li>
                <a  href="{% url 'student:join_class' %}"><li>  <div class ="addclass" >
                            <div>JOIN Class</div>
				</div>
                
                    </li></a>
			</ul>                                       
			<div class="row course-items-area">
                <!-- course -->
     {% for classroom in classroom_list %}
				<a href="" class="mix col-lg-3 col-md-4 col-sm-6 finance">
					<div class="course-item">
						<div class="course-info">
							<div class="course-text">
                                    <div class="students">{{ classroom.title }}</div>
								<h5>{{ classroom.subject }}</h5>
							</div>
							<div class="course-author">
								<p class="price">{{ classroom.section }}</p>
							</div>
						</div>
					</div>
                </a>
            {% endfor %} 
		</div>
	</section>
	<!-- course section end -->
{% endblock content %}
	<!-- banner section end -->
